.ourServices, .roadrepair {
    background-color: #c33f02;
}
main {
    color: black;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}
main p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
}